<div class="container">
    <div class="row">
        <div class="col-6 col-sm-6 col-md-6">
            <a href="/termeni-conditii/" class="terms-link">Terms & Conditions</a>
        </div>

        <div class="col-6 col-sm-6 col-md-6 text-right">
            <div class="social">
                {% if settings.site_settings.SocialMediaSettings.facebook %}
                <a href="{{ settings.site_settings.SocialMediaSettings.facebook }}" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                {% endif %}

                {% if settings.site_settings.SocialMediaSettings.google %}
                <a href="{{ settings.site_settings.SocialMediaSettings.google }}" target="_blank">
                    <i class="fab fa-google-plus-g"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>