<nav class="navbar navbar-expand-lg">
    <a href="/">
        <img src="http://www.belor.ro/assets/client/images/logo_airtek.png" class="navbar-logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
        <li id="language-picker">
            <a href="http://www.belor.ro/en">EN</a>
            |
            <a href="http://www.belor.ro/ro" class="active">RO</a>
        </li>
        <a href="/">
            <img src="http://www.belor.ro/assets/client/images/sigla-belor-romania.png" class="navbar-logo">
        </a>
    </div>
</nav>