{% load wagtail_modeltranslation %}

{% get_available_languages_wmt as languages %}

{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<nav class="navbar navbar-expand-lg">
    <a href="/">
        <img src="http://www.belor.ro/assets/client/images/logo_airtek.png" class="navbar-logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            {% for item in menu.menu_items.all %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.link }}" {% if item.open_in_new_tab %} target="_blank" {% endif %}>{{ item.title }}</a>
                </li>
            {% endfor %}

        </ul>
        <li id="language-picker">
            <a
                href="/en{{ request.get_full_path|slice:'3:' }}"
                class="{% if request.LANGUAGE_CODE == 'en' %} active {% endif %}"
            >EN</a>
            |
            <a href="/ro{{ request.get_full_path|slice:'3:' }}" class="{% if request.LANGUAGE_CODE == 'ro' %} active {% endif %}">RO</a>
        </li>
        <a href="/">
            <img src="http://www.belor.ro/assets/client/images/sigla-belor-romania.png" class="navbar-logo">
        </a>
    </div>
</nav>