<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a href="/" class="router-link-exact-active router-link-active">
            <img src="http://belor.ro/assets/client/images/logo_airtek.png" class="navbar-logo">
        </a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" class="navbar-toggler d-lg-none d-xl-none">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto navbar-links main-nav" style="margin-left: auto;">
                <li class="nav-item">
                    <a href="/" class="nav-link active">Why outsource</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">What you get</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">What we do</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">Working with us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>