{% extends 'base.html' %}

{% load static %}

{% load wagtail_modeltranslation %}

{% load wagtailcore_tags %}

{% load wagtailimages_tags %}

{% block content %}

    {% image self.hero_image width-900 as img %}
    <section id="intro" style="background-image: url('{{ img.url }}');background-repeat: no-repeat;background-position: 100% -5rem;background-size: 85% 75%;padding: 200px 0 50px 0;">
        <div class="container">
            <div class="row">
                <h1 class="section-title" data-aos="zoom-in">
                    <span class="title-span">AIR</span>TEK® {{ self.hero_title }}
                </h1>

                <p class="section-subtitle fade-right" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="600">
                    {{ self.hero_subtitle }}
                </p>
            </div>
        </div>

        <div class="container" style="margin-top: 185px;">
            <div class="row">
                <div class="intro-boxes">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 item-box" data-aos="fade-left" data-aos-delay="300">
                                <div class="item-box-wrapper">
                                    <div class="item-box-icon">
                                        <img src="{% static "./img/icons/icons-09.jpg" %}" style="width:100px;" />
                                    </div>
                                    <div class="item-box-text">
                                        Problema
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 item-box" data-aos="fade-left" data-aos-delay="500">
                                <div class="item-box-wrapper">
                                    <div class="item-box-icon">
                                        <img src="{% static "./img/icons/icons-10.jpg" %}" style="width:100px;" />
                                    </div>
                                    <div class="item-box-text">
                                        Solutie
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 item-box" data-aos="fade-left" data-aos-delay="900">
                                <div class="item-box-wrapper">
                                    <div class="item-box-icon">
                                        <img src="{% static "./img/icons/icons-11.jpg" %}" style="width:100px;" />
                                    </div>
                                    <div class="item-box-text">
                                        Inbunatatire
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 item-box" data-aos="fade-left" data-aos-delay="1200">
                                <div class="item-box-wrapper">
                                    <div class="item-box-icon">
                                        <img src="{% static "./img/icons/icons-12.jpg" %}" style="width:100px;" />
                                    </div>
                                    <div class="item-box-text">
                                        Rezultate
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {% for block in page.content %}
        {% include_block block %}
    {% endfor %}

    <section class="middle-section first-section" style="background-image: url('{% static "./img/3/S5.jpg" %}');background-repeat: no-repeat;background-position: 0% -5rem;background-size: 75% 75%;padding: 200px 0 0 0;">
        <div class="container">
            <div class="row">
                <div class="section-header text-center animated bounceInDown">
                    <div class="section-image_second" data-aos="fade-right">
                        <img src="{% static "./img/large/WEBSITE13.png" %}" style="width: 35%;">
                    </div>

                    <h2 class="section-title" data-aos="fade-in" data-aos-duration="600">
                        Identificarea problemei
                    </h2>

                    <p class="section-subtitle mx-auto" data-aos="fade-in" data-aos-duration="600">
                        Azotul pierdut in atmosfera prin volatilizare reprezinta o problema economica (mai putin N disponibil pentru culturi, ce afecteaza randamentul), dar si o problema de mediu.
                    </p>
                </div>

                <div class="divider">
                    <hr />
                </div>
            </div>
        </div>
    </section>

    <section class="middle-section second-section" style="background-image: url('{% static "./img/3/D4.jpg" %}');background-repeat: no-repeat;background-position: 100% -4rem;background-size: 75% 65%;padding: 200px 0 0 0;">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <div class="section-image_second" data-aos="fade-left">
                        <img src="{% static "./img/large/WEBSITE14.png" %}" style="width: 35%;">
                    </div>

                    <h2 class="section-title" data-aos="fade-in" data-aos-duration="600">
                        Solutie
                    </h2>

                    <p class="section-subtitle mx-auto" data-aos="fade-in" data-aos-duration="600">
                        Solutia optima este tratarea Ureei cu inhibitori de ureaza care reduc pierderile de azot prin volatilizarea amoniacului. BELOR in parteneriat cu BASF dezvolta noua gama de ingrasaminte AITREK® care utilizeaza inhibitorul de ureza Limus®.
                    </p>
                </div>

                <div class="divider">
                    <hr />
                </div>
            </div>
        </div>
    </section>

    <section class="middle-section third-section" style="background-image: url('{% static "./img/2x.jpg" %}');background-repeat: no-repeat;background-position: 0% -4rem;background-size: 75% 55%;padding:200px 0 0 0;">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <div class="section-image_second" data-aos="fade-right">
                        <img src="{% static "./img/large/WEBSITE15.png" %}" style="width: 35%;">
                    </div>

                    <h2 class="section-title" data-aos="fade-in" data-aos-duration="400">
                        Inbunatatire
                    </h2>

                    <p class="section-subtitle mx-auto" data-aos="fade-in" data-aos-duration="600">
                        Ingrasamintele AIRTEK® tratate cu inhibitorul Limus® de la BASF, reduc volatilitatea amoniacului din Uree cu pana la 95%, ofera o mai buna flexibilitate in aplicare, protejeaza impotriva pierderilor de azot si extind disponibilitatea azotului pentru o perioada suplimentara de pana la 15-20 zile, independent de conditiile de vreme.
                    </p>
                </div>

                <div class="section-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li class="green-box" data-aos="fade-right" data-aos-delay="300">
                                        <!-- <div class="left">
                                            <i class="fas fa-tractor"></i>
                                        </div> -->

                                        <div class="right text-center width-100">
                                            <span class="sp-bold">Uree</span>
                                            <span class="sp-white"> >95% </span>
                                        </div>
                                    </li>

                                    <li class="green-box" data-aos="fade-right" data-aos-delay="600">
                                        <!-- <div class="left">
                                            <i class="fas fa-tractor"></i>
                                        </div> -->

                                        <div class="right text-center width-100">
                                            <span class="sp-bold">Independenta</span>
                                            <span class="sp-white"> climatica </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li class="green-box" data-aos="fade-left" data-aos-delay="900">
                                        <!-- <div class="left">
                                            <i class="fas fa-tractor"></i>
                                        </div> -->

                                        <div class="right text-center width-100">
                                            <span class="sp-bold">Flexibilitate </span>
                                            <span class="sp-white"> in aplicare </span>
                                        </div>
                                    </li>

                                    <li class="green-box" data-aos="fade-left" data-aos-delay="1200">
                                        <!-- <div class="left">
                                            <i class="fas fa-tractor"></i>
                                        </div> -->

                                        <div class="right text-center width-100">
                                            <span class="sp-bold">Azot</span>
                                            <span class="sp-white"> +15-20 zile </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider">
                    <hr />
                </div>
            </div>
        </div>
    </section>

    <section class="middle-section last-section" style="background-image: url('{% static "./img/3/D6.jpg" %}');background-repeat: no-repeat;background-position: 100% -4rem;background-size: 75% 55%;padding: 200px 0 65px 0;">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <div class="section-image_second" data-aos="fade-right">
                        <img src="{% static "./img/large/WEBSITE16.png" %}" style="width: 35%;">
                    </div>

                    <h2 class="section-title" data-aos="fade-in" data-aos-duration="600">
                        Eficienta dovedita
                    </h2>

                    <p class="section-subtitle mx-auto" data-aos="fade-in" data-aos-duration="600">
                        Gama de produse AIRTEK® a fost dovedita in cadrul testarilor de la Centrul de Competente Tehnice BASF Romania cu urmatoarele rezultate:
                    </p>
                </div>

                <div class="section-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="last-green-itemx mx-auto">
                                    <div class="head">
                                        <div class="head-text" style="text-align: center;width: 100%;">
                                            <span class="sp-white" style="font-size: 56px;font-family: Roboto;"> + 7.5% </span>
                                            <br>
                                            <span class="sp-bold">Porumb</span>
                                        </div>
                                    </div>
                                    <div class="cnt">
                                        <p style="font-family: Roboto Condensed;text-align:center;font-weight: 500;">Sporul de productie in favoarea AIRTEK® cu Limus® a fost de +700 kg/ha, cu 7.5% mai mult fata de Urea conventionala fara Limus®.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="last-green-itemx mx-auto">
                                    <div class="head">
                                        <div class="head-text" style="text-align: center;width: 100%;">
                                            <span class="sp-white" style="font-size: 56px;font-family: Roboto;"> + 11.5% </span>
                                            <br>
                                            <span class="sp-bold">Floarea soarelui</span>
                                        </div>
                                    </div>
                                    <div class="cnt">
                                        <p style="font-family: Roboto Condensed;text-align:center;font-weight: 500;">Sporul de productie in favoarea AIRTEK® cu Limus a fost de +259 kg/ha, cu 11.5% mai mult fata de Urea conventionala fara Limus®.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}