{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section id="intro" style="background-image: url('{% static "./img/white.jpg" %}');background-repeat: no-repeat;background-position: 100% 5%;">
        <div class="container">
            <div class="row">
                <h1 class="section-title" data-aos="zoom-in">
                    <span class="title-span">AIR</span>TEK® Motor de crestere pentru culturi prospere
                </h1>

                <p class="section-subtitle fade-right" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="600">
                    AIRTEK® este rezultatul colaborarii dintre
                    Belor si BASF, ingrasaminte ce inglobeaza cele
                    mai noi tehnologii pentru performante ridicate
                    in agricultura: azot inhibat cu Limus® care reduce cu peste 70% volatilizarea si pierderile de azot in atmosfera.
                    EN | RO Contact

                </p>
            </div>
        </div>

        <div class="container" style="margin-top: 185px;">
            <div class="row">
                <div class="intro-boxes">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 item-box" data-aos="fade-left" data-aos-delay="300">
                                <div class="item-box-wrapper">
                                    <div class="item-box-icon">
                                        <img src="https://lh3.googleusercontent.com/Rilq4obCk7XIl2Pjb8XT-Ydh_aI3hBNeFwro9fFXrIAuC-zPxCZ4feE4rx5fZ3jHNLw" />
                                    </div>
                                    <div class="item-box-text">
                                        Problema
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 item-box" data-aos="fade-left" data-aos-delay="500">
                                <div class="item-box-wrapper">
                                    <div class="item-box-icon">
                                        <img src="https://lh3.googleusercontent.com/Rilq4obCk7XIl2Pjb8XT-Ydh_aI3hBNeFwro9fFXrIAuC-zPxCZ4feE4rx5fZ3jHNLw" />
                                    </div>
                                    <div class="item-box-text">
                                        Solutie
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 item-box" data-aos="fade-left" data-aos-delay="900">
                                <div class="item-box-wrapper">
                                    <div class="item-box-icon">
                                        <img src="https://lh3.googleusercontent.com/Rilq4obCk7XIl2Pjb8XT-Ydh_aI3hBNeFwro9fFXrIAuC-zPxCZ4feE4rx5fZ3jHNLw" />
                                    </div>
                                    <div class="item-box-text">
                                        Plus
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 item-box" data-aos="fade-left" data-aos-delay="1200">
                                <div class="item-box-wrapper">
                                    <div class="item-box-icon">
                                        <img src="https://lh3.googleusercontent.com/Rilq4obCk7XIl2Pjb8XT-Ydh_aI3hBNeFwro9fFXrIAuC-zPxCZ4feE4rx5fZ3jHNLw" />
                                    </div>
                                    <div class="item-box-text">
                                        Ceva
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="middle-section" style="background-image: url('{% static "./img/3white.jpg" %}');background-repeat: no-repeat;background-position: 0% -12rem;">
        <div class="container">
            <div class="row">
                <div class="section-header text-center animated bounceInDown">
                    <div class="section-image_second" data-aos="fade-right">
                        <img src="{% static "./img/AIRTEK06.png" %}">
                    </div>

                    <h2 class="section-title" data-aos="fade-in" data-aos-duration="600">
                        Identificarea problemei
                    </h2>

                    <p class="section-subtitle mx-auto" data-aos="fade-in" data-aos-duration="600">
                        Azotul pierdut in atmosfera prin volatilizare reprezinta o problema economica (mai putin N disponibil pentru culturi, ce afecteaza randamentul), dar si o problema de mediu.
                    </p>
                </div>

                <div class="divider">
                    <hr />
                </div>
            </div>
        </div>
    </section>

    <section class="middle-section" style="background-image: url('{% static "./img/white.jpg" %}');background-repeat: no-repeat;background-position: 500% 5%;">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <div class="section-image_second" data-aos="fade-left">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcThpYPJEITKfT6gVHSJp2iyZizL1g-MkjGN5M5UIzqiSiNYaHME">
                    </div>

                    <h2 class="section-title" data-aos="fade-in" data-aos-duration="600">
                        Solutie
                    </h2>

                    <p class="section-subtitle mx-auto" data-aos="fade-in" data-aos-duration="600">
                        Solutia optima este tratarea Ureei cu inhibitori de ureaza care reduc pierderile de azot prin volatilizarea amoniacului. BELOR in parteneriat cu BASF dezvolta noua gama de ingrasaminte AITREK® care utilizeaza inhibitorul de ureza Limus®.
                    </p>
                </div>

                <div class="divider">
                    <hr />
                </div>
            </div>
        </div>
    </section>

    <section class="middle-section">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <div class="section-image_second" data-aos="fade-right">
                        <img src="https://images.vexels.com/media/users/17482/111837/preview2/49989ccf1961055d7bc4f6117f41445f-chemical-formula-icon-design.png">
                    </div>

                    <h2 class="section-title" data-aos="fade-in" data-aos-duration="400">
                        Inbunatatire
                    </h2>

                    <p class="section-subtitle mx-auto" data-aos="fade-in" data-aos-duration="600">
                        Ingrasamintele AIRTEK® tratate cu inhibitorul Limus® de la BASF, reduc volatilitatea amoniacului din Uree cu pana la 95%, ofera o mai buna flexibilitate in aplicare, protejeaza impotriva pierderilor de azot si extind disponibilitatea azotului pentru o perioada suplimentara de pana la 15-20 zile, independent de conditiile de vreme.
                    </p>
                </div>

                <div class="section-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li class="green-box" data-aos="fade-right" data-aos-delay="300">
                                        <div class="left">
                                            <i class="fas fa-tractor"></i>
                                        </div>

                                        <div class="right">
                                            <span class="sp-bold">Uree</span>
                                            <span class="sp-white"> >95% </span>
                                        </div>
                                    </li>

                                    <li class="green-box" data-aos="fade-right" data-aos-delay="600">
                                        <div class="left">
                                            <i class="fas fa-tractor"></i>
                                        </div>

                                        <div class="right">
                                            <span class="sp-bold">Uree</span>
                                            <span class="sp-white"> >95% </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li class="green-box" data-aos="fade-left" data-aos-delay="900">
                                        <div class="left">
                                            <i class="fas fa-tractor"></i>
                                        </div>

                                        <div class="right">
                                            <span class="sp-bold">Uree</span>
                                            <span class="sp-white"> >95% </span>
                                        </div>
                                    </li>

                                    <li class="green-box" data-aos="fade-left" data-aos-delay="1200">
                                        <div class="left">
                                            <i class="fas fa-tractor"></i>
                                        </div>

                                        <div class="right">
                                            <span class="sp-bold">Uree</span>
                                            <span class="sp-white"> >95% </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider">
                    <hr />
                </div>
            </div>
        </div>
    </section>

    <section class="middle-section">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <div class="section-image_second" data-aos="fade-right">
                        <img src="https://image.freepik.com/free-vector/organic-fertilizer-icons-illustrations_83529-112.jpg" style="width: 389px !important;">
                    </div>

                    <h2 class="section-title" data-aos="fade-in" data-aos-duration="600">
                        Inbunatatire
                    </h2>

                    <p class="section-subtitle mx-auto" data-aos="fade-in" data-aos-duration="600">
                        Ingrasamintele AIRTEK® tratate cu inhibitorul Limus® de la BASF, reduc volatilitatea amoniacului din Uree cu pana la 95%, ofera o mai buna flexibilitate in aplicare, protejeaza impotriva pierderilor de azot si extind disponibilitatea azotului pentru o perioada suplimentara de pana la 15-20 zile, independent de conditiile de vreme.
                    </p>
                </div>

                <div class="section-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="last-green-itemx mx-auto">
                                    <div class="head">
                                        <div class="head-text">
                                            <span class="sp-bold">Porumb</span>
                                            <br>
                                            <span class="sp-white"> >8% </span>
                                        </div>
                                        <div class="head-icon">
                                            <i class="fas fa-seedling"></i>
                                        </div>
                                    </div>
                                    <div class="cnt">
                                        <p>Sporul de productie in favoarea AIRTEK® cu Limus® a fost de +700 kg/ha, cu 7.5% mai mult fata de Urea conventionala fara Limus®.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="last-green-itemx mx-auto">
                                    <div class="head">
                                        <div class="head-text">
                                            <span class="sp-bold">Porumb</span>
                                            <br>
                                            <span class="sp-white"> >8% </span>
                                        </div>
                                        <div class="head-icon">
                                            <i class="fas fa-seedling"></i>
                                        </div>
                                    </div>
                                    <div class="cnt">
                                        <p>Sporul de productie in favoarea AIRTEK® cu Limus® a fost de +700 kg/ha, cu 7.5% mai mult fata de Urea conventionala fara Limus®.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider">
                    <hr />
                </div>
            </div>
        </div>
    </section>
{% endblock %}