{% extends 'base.html' %}

{% load static %}
{% load wagtailcore_tags %}

{% block content %}
    <section id="product-header" style="background-image: url('{% static "./img/white.jpg" %}');background-repeat: no-repeat;background-position: 100% 50%;padding: 120px 0;">
        <div class="container">
            <div class="row">
                <h1 class="section-title" data-aos="zoom-in">
                    Dupa carbon, hidrogen si oxigen, azotul este cel mai frecvent element din tesuturile vii
                </h1>
                <div class="section-image_second" data-aos="fade-right" style="margin-top: 20px;">
                    <img src="{% static "./img/2/AIRTEK06.png" %}" style="width: 25%;">
                </div>
            </div>
        </div>
    </section>

    <section class="contact-body">
        <div class="container">
            <div class="row">
                <h1 class="section-title text-center width-100" data-aos="zoom-in" style="margin-bottom: 10px;">
                    Administrarea <span class="title-span">AIR</span>TEK® pe camp
                </h1>
            </div>

            <div class="row m-t-25">

                <div class="col-md-6">
                    <div class="section-half">
                        <div class="section-title">
                            <h3>Optiuni de aplicare limitate <span class="semi-bold">UREE STANDARD</span></h3>
                        </div>

                        <div class="section-image_second aos-init aos-animate" data-aos="fade-right">
                            <img class="img-responsive" src="{% static "./img/2/AIRTEK06.png" %}" width="100%">
                        </div>

                        <div class="boxes">
                            <div class="last-green-itemx mx-auto">
                                <div class="cnt">
                                    <p>Aplicare inainte de precipitatii pentru reduce volatizarea amoniacului si pierderile de azot.</p>
                                </div>
                            </div>

                            <div class="last-green-itemx mx-auto">
                                <div class="cnt">
                                    <p>Aplicare inainte de precipitatii pentru reduce volatizarea amoniacului si pierderile de azot.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="section-half">
                        <div class="section-title">
                            <h3>Flexibilitatea in aplicare utilizand <span class="semi-bold">AIRTEK®</span> tratat cu <span class="semi-bold">LIMUS®</span></h3>
                        </div>

                        <div class="section-image_second aos-init aos-animate" data-aos="fade-right">
                            <img class="img-responsive" src="{% static "./img/2/AIRTEK06.png" %}" width="100%">
                        </div>

                        <div class="boxes">
                            <div class="last-green-itemx mx-auto">
                                <div class="cnt">
                                    <p>Aplicare inainte de precipitatii pentru reduce volatizarea amoniacului si pierderile de azot.</p>
                                </div>
                            </div>

                            <div class="last-green-itemx mx-auto">
                                <div class="cnt">
                                    <p>Aplicare inainte de precipitatii pentru reduce volatizarea amoniacului si pierderile de azot.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="divider" style="margin: 0px 0 350px 0;position: relative;z-index: 999;">
        <hr>
    </div>

    <section class="middle-section" style="background-image: url('{% static "./img/white.jpg" %}');background-repeat: no-repeat;background-position: 100% -10rem;">
        <div class="container">
            <div class="">
                <div class="section-header text-center">
                    <div class="section-image_second" data-aos="fade-left">
                        <img src="{% static "./img/2/AIRTEK08.png" %}" style="width: 100%">
                    </div>

                    <div class="row boxes product-boxes">
                        <div class="col-md-6">
                            <div class="last-green-itemx product-page-green-box mx-auto">
                                <h4>AZOT MONIACAL</h4>
                                <p>Disponibil pentru plante</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="last-green-itemx product-page-green-box mx-auto">
                                <h4>AZOT MONIACAL</h4>
                                <p>Disponibil pentru plante</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="divider" style="margin: 0px 0 350px 0;position: relative;z-index: 999;">
        <hr>
    </div>

    <section id="product-table" class="middle-section" style="background-image: url('{% static "./img/3white.jpg" %}');background-repeat: no-repeat;background-position: 0% -10rem;">
        <div class="container">
            <div class="">

                <div class="section-title width-100">
                    <h1 class="section-title text-center width-100" data-aos="zoom-in" style="margin-bottom: 10px;">
                        Gama specializata <span class="title-span">AIR</span>TEK®
                    </h1>
                </div>

                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">
                            <img class="img-responsive" src="{% static "./img/2/AIRTEK09.png" %}" width="200px">
                        </th>
                        <th scope="col" class="text-center">
                            <img class="img-responsive" src="{% static "./img/2/AIRTEK09.png" %}" width="200px">
                        </th>
                        <th scope="col" class="text-center">
                            <img class="img-responsive" src="{% static "./img/2/AIRTEK09.png" %}" width="200px">
                        </th>
                        <th scope="col" class="text-center">
                            <img class="img-responsive" src="{% static "./img/2/AIRTEK09.png" %}" width="200px">
                        </th>
                        <th scope="col" class="text-center">
                            <img class="img-responsive" src="{% static "./img/2/AIRTEK09.png" %}" width="200px">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <span class="table-badge">46</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">46</span>
                            </td>
                            <td class="text-center">
                                <p class="row-title">AZOT TOTAL (%)</p>
                                <span class="table-badge">46</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">46</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">46</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <span class="table-badge">46</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">46</span>
                            </td>
                            <td class="text-center">
                                <p class="row-title">AZOT TOTAL (%)</p>
                                <span class="table-badge">46</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">46</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">46</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <span class="table-badge">46</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">46</span>
                            </td>
                            <td class="text-center">
                                <p class="row-title">AZOT TOTAL (%)</p>
                                <span class="table-badge">46</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">46</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">46</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <span class="table-badge">46</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">46</span>
                            </td>
                            <td class="text-center">
                                <p class="row-title">AZOT TOTAL (%)</p>
                                <span class="table-badge">46</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">46</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">46</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </section>
{% endblock %}