{% extends 'base.html' %}

{% load static %}
{% load wagtailcore_tags %}

{% block content %}
    <section id="product-header" style="background-image: url('{% static "./img/3/D2.jpg" %}');background-repeat: no-repeat;background-position: 100% -5rem;padding: 200px 0 10px 0;">
        <div class="container">
            <div class="row">
                <h1 class="section-title" data-aos="zoom-in">
                    Dupa carbon, hidrogen si oxigen, azotul este cel mai frecvent element din tesuturile vii
                </h1>
                <div class="section-image_second" data-aos="fade-right">
                    <img src="{% static "./img/product/WEBSITE17.png" %}" style="width: 45%;">
                </div>
            </div>
        </div>
    </section>

    <section class="product-video" style="padding: 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="video-wrapper video-wrapper-home" style="background:url({% static "./img/background/img-video2.jpg" %}) no-repeat center top;height: 400px;background-size: 100% 100%;box-shadow: 0 0 25px #d6d6d6;border-radius: 15px;">
                        <div class="video-play" style="position: absolute;top: calc(50% - 45px);left: calc(50% - 30px);">
                            <a target="_blank" href="https://youtu.be/T9kCk5wQBl4" data-gal="prettyPhoto">
                                <i class="fa fa-play" style="color: #fff;
                                width: 85px;
                                height: 85px;
                                padding: 23px 0 0 10px;
                                font-size: 38px;
                                text-align: center;
                                border: #fff 3px solid;
                                z-index: 9999;
                                -webkit-border-radius: 99%;
                                -moz-border-radius: 99%;
                                -o-border-radius: 99%;
                                border-radius: 99%;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-body product-body">
        <div class="container">
            <div class="row">
                <h1 class="section-title text-center width-100" data-aos="zoom-in" style="margin-bottom: 10px;">
                    Administrarea <span class="title-span">AIR</span>TEK® pe camp
                </h1>
            </div>

            <div class="row m-t-25">

                <div class="col-md-6">
                    <div class="section-half">
                        <div class="section-title">
                            <h3>Optiuni de aplicare limitate <br><span class="semi-bold">UREE STANDARD</span></h3>
                        </div>

                        <div class="section-image_second aos-init aos-animate" data-aos="fade-right">
                            <img class="img-responsive" src="{% static "./img/product/WEBSITE18.png" %}" width="100%">
                        </div>

                        <div class="boxes">
                            <div class="last-green-itemx mx-auto">
                                <div class="cnt text-center">
                                    <p>Aplicare inainte de precipitatii pentru reduce volatizarea amoniacului si pierderile de azot</p>
                                </div>
                            </div>

                            <div class="last-green-itemx mx-auto">
                                <div class="cnt text-center">
                                    <p>Diviziunea aplicarilor in etape succesive</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="section-half">
                        <div class="section-title">
                            <h3>Flexibilitatea in aplicare utilizand <span class="semi-bold">AIRTEK®</span> tratat cu <span class="semi-bold">LIMUS®</span></h3>
                        </div>

                        <div class="section-image_second aos-init aos-animate" data-aos="fade-right">
                            <img class="img-responsive" src="{% static "./img/product/WEBSITE19.png" %}" width="100%">
                        </div>

                        <div class="boxes">
                            <div class="last-green-itemx mx-auto">
                                <div class="cnt text-center">
                                    <p>Poate fi aplicat o singura data, fara a fi necesare etape succesive de fertilizare</p>
                                </div>
                            </div>

                            <div class="last-green-itemx mx-auto">
                                <div class="cnt text-center">
                                    <p>Aplicare independenta de conditiile meteo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="divider" style="margin: 0px 0 350px 0;position: relative;z-index: 999;">
        <hr>
    </div>

    <section class="middle-section section-02" style="background-image: url('{% static "./img/A1.jpg" %}');background-repeat: no-repeat;background-position: 0% -4rem;">
        <div class="container">
            <div class="">
                <div class="section-header text-center">
                    <div class="section-image_second" data-aos="fade-left">
                        <img src="{% static "./img/product/volan.png" %}" style="width: 100%">
                    </div>

                    <div class="row boxes product-boxes">
                        <div class="col-md-6">
                            <div class="last-green-itemx product-page-green-box mx-auto">
                                <h4>UREE</h4>
                                <p>Disponibila pentru plante</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="last-green-itemx product-page-green-box mx-auto">
                                <h4>AZOT MONIACAL</h4>
                                <p>Disponibil pentru plante</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="divider" style="margin: 0px 0 350px 0;position: relative;z-index: 999;">
        <hr>
    </div>

    <section id="product-table" class="middle-section" style="background-image: url('{% static "./img/3/D5.jpg" %}');background-repeat: no-repeat;background-position: 100% -5rem;background-size: 61% 40%;">
        <div class="container">
            <div class="">

                <div class="section-title width-100">
                    <h1 class="section-title text-center width-100" data-aos="zoom-in" style="margin-bottom: 10px;">
                        Gama specializata <span class="title-span">AIR</span>TEK®
                    </h1>
                </div>

                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">
                            <img class="img-responsive" src="{% static "./img/product/WEBSITE21.png" %}" width="200px">
                        </th>
                        <th scope="col" class="text-center">
                            <img class="img-responsive" src="{% static "./img/product/WEBSITE22.png" %}" width="200px">
                        </th>
                        <th scope="col" class="text-center">
                            <img class="img-responsive" src="{% static "./img/product/WEBSITE23.png" %}" width="200px">
                        </th>
                        <th scope="col" class="text-center">
                            <img class="img-responsive" src="{% static "./img/product/WEBSITE24.png" %}" width="200px">
                        </th>
                        <th scope="col" class="text-center">
                            <img class="img-responsive" src="{% static "./img/product/WEBSITE25.png" %}" width="200px">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <span class="table-badge">46</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">40</span>
                            </td>
                            <td class="text-center">
                                <p class="row-title">AZOT TOTAL (%)</p>
                                <span class="table-badge">37</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">30</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">32</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <span class="table-badge">-</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">12.5</span>
                            </td>
                            <td class="text-center">
                                <p class="row-title">AZOT AMONIACAL (%)</p>
                                <span class="table-badge">16</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">-</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">12.5</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <span class="table-badge">100</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">87.5</span>
                            </td>
                            <td class="text-center">
                                <p class="row-title">AZOT UREIC (%) INHIBAT CU INHIBATORUL DE UREAZA LIMUS®</p>
                                <span class="table-badge">84</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">100</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">87.5</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <span class="table-badge">-</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">-</span>
                            </td>
                            <td class="text-center">
                                <p class="row-title">FOSFOR IN FORME ASIMILABILE (%)</p>
                                <span class="table-badge">15</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">-</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">10</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <span class="table-badge">-</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">-</span>
                            </td>
                            <td class="text-center">
                                <p class="row-title">POTASIU SOLUBIL IN APA (%)</p>
                                <span class="table-badge">-</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">20</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">10</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <span class="table-badge">-</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">13</span>
                            </td>
                            <td class="text-center">
                                <p class="row-title">ANHIDRA SULFURICA SOLUBILA IN APA (%)</p>
                                <span class="table-badge">-</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">-</span>
                            </td>
                            <td class="text-center">
                                <span class="table-badge">-</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="prod-footer text-center" style="margin-top:55px;">
                    <p style="font-family: Roboto Condensed;font-weight: 500;">Gama de îngrăşăminte <b>AIRTEK®</b> este omologată la EUIPO –  Oficiul pentru Proprietate Intelectuală al Uniunii Europene responsabil cu gestionarea mărcilor UE și a designului comunitar – sub nr. 018018821 / 04.06.2019, prezentarea detaliată a îngrăşămintelor  <b>AIRTEK®</b> poate fi vizualizată prin accesarea catalogului nostru <b>AIRTEK</b> , de asemenea puteţi afla informaţii detaliate despre inhibitorul <b>Limus®</b> vizitând site-ulBASF <a href="https://www.agro.basf.ro">www.agro.basf.ro</a></p>

                    <div class="link_image" style="margin-top: 50px;">
                        <a href="http://www.belor.ro/assets/client/Prezentare BELOR_Godmother-1.pdf" target="_blank">
                            <img src="http://www.belor.ro/assets/client/images/airtek.jpg" style="width: 200px;">
                            <i class="fa fa-search" style="display: none;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}