{% extends 'base.html' %}

{% load static %}

{% load wagtailcore_tags %}

{% block content %}
    <section id="contact-header" style="background-image: url('{% static "./img/white.jpg" %}');background-repeat: no-repeat;background-position: 100% 50%;padding: 120px 0;">
        <div class="container">
            <div class="row">
                <h1 class="section-title" data-aos="zoom-in">
                    <span class="title-span-green">BELOR</span> o companie specializata in importul si distributia de ingrasaminte si exportul
                    de cereale.
                </h1>

                <p class="section-subtitle-medium fade-right" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="600">
                    <span class="title-span-green bold">BELOR</span> Romania este parte a grupului german <span class="title-span-green bold">BELOR</span> infiintat in anul 2001, holding care detine astazi reprezentante la nivel international in <span class="bold">Germania, Franta, Italia, Finlanda, Suedia, Estonia, Letonia, Lituania, Polonia, Bulgaria si Romania.</span>
                </p>
            </div>
        </div>
    </section>

    <section class="contact-body">
        <div class="container">
            <div class="content-text">
                {{ self.content|richtext }}
            </div>
        </div>
    </section>
{% endblock %}