{% extends 'base.html' %}

{% load static %}
{% load wagtailcore_tags %}

{% block content %}
    <section id="intro" style="background-image: url('{% static "./img/white.jpg" %}');background-repeat: no-repeat;background-position: 100% 5%;margin-bottom:150px;">
        <div class="container">
            <div class="row">
                <h1 class="section-title" data-aos="zoom-in">
                    {{ self.thank_you_text|richtext }}
                </h1>
            </div>
        </div>

    </section>
{% endblock %}