@media only screen and (max-width: 767px) {
  section#contact-header {
    padding: 150px 0 0 25px !important;
    background-position: 75% -2rem !important;
    background-size: 100% 85% !important; }

  section#product-header {
    padding: 150px 0 0 25px !important;
    background-position: 70% 50% !important;
    height: 35rem; }
    section#product-header h1.section-title {
      font-size: 28px;
      color: #1e1e1e;
      line-height: 36px;
      margin-bottom: 15px;
      font-family: Raleway;
      font-weight: 700;
      width: 80%; }
    section#product-header p.section-subtitle-medium {
      margin-bottom: 10px;
      font-family: Raleway;
      font-size: 18px !important;
      line-height: 26px !important;
      width: 70% !important;
      margin-top: 25px;
      font-weight: 600; }

  .section-half .section-title h3 {
    text-align: center;
    font-size: 18px;
    font-family: Raleway;
    padding: 0 2rem; }

  section#product-table table {
    margin-top: 65px;
    margin: 64px 15px; }

  h1.section-title.text-center.width-100.aos-init.aos-animate {
    width: 90% !important;
    text-align: center;
    margin: 0 auto; }

  section#intro {
    padding: 50px 25px 25px 25px !important;
    background-position: 100% 5rem !important;
    overflow:hidden;
    background-size: 125% 25% !important; }
    section#intro p.section-subtitle {
      width: 70% !important; }
    section#intro p.section-subtitle-medium {
      margin-bottom: 10px;
      font-family: Raleway;
      font-size: 18px !important;
      line-height: 26px !important;
      width: 70% !important;
      margin-top: 25px;
      font-weight: 600; }
    section#intro .intro-boxes .item-box-wrapper {
      text-align: center;
      width: 100% !important; }
    section#intro .intro-boxes .item-box {
      margin-bottom: 30px; }

  .last-green-itemx.mx-auto {
    width: 100% !important; }

  section.middle-section .section-content ul {
    width: 100% !important;
    padding-left: 0; }

  section h1.section-title {
    font-size: 28px;
    color: #1e1e1e;
    line-height: 36px;
    margin-bottom: 15px;
    font-family: Raleway;
    font-weight: 700;
    width: 80%; }
  section p.section-subtitle-medium {
    margin-bottom: 10px;
    font-family: Raleway;
    font-size: 18px !important;
    line-height: 26px !important;
    width: 70% !important;
    margin-top: 25px;
    font-weight: 600; }
  section .section-image_second img {
    width: 80% !important; }

  nav.navbar img.navbar-logo {
    width: 100px; }
  nav.navbar ul.navbar-nav.mr-auto {
    padding: 20px 0; }
    nav.navbar ul.navbar-nav.mr-auto li.nav-item {
      margin-left: 0 !important; }

      .intro-boxes {
padding: 50px 25px !important;}

section.first-section {
background-size: 125% 35% !important;
background-position: 0% -1rem !important;
overflow:hidden;}

section.second-section {
background-size: 125% 35% !important;
background-position: 100% -2rem !important;
overflow:hidden;}



section.last-section {
background-position: 100% -2rem !important;
background-size: 125% 25% !important;
overflow:hidden;}

.middle-section.third-section {
    background-position: 0% -2rem !important;
    background-size: 125% 25% !important;
    overflow:hidden;
}

section h2.section-title {
    line-height: 42px;
}

p.section-subtitle {
    margin-top: 25px;
}

section#product-header {
    background-position: 87% -2rem !important;
    height: auto !important;
    background-size: 100% 45% !important;
    overflow:hidden;
}

section.product-video {
    padding: 45px 0 !important;
    overflow: hidden;
}

section.section-02 {
    background-position: 0% 1rem !important;
    background-size: 125% 40% !important;
}

section#product-table {
background-position: 100% 0rem;
    background-size: 100% 20%;
}

section.section-02 .section-image_second img {
    width: 100% !important;
}

.video-wrapper.video-wrapper-home {
    height: 200px !important;
}

.section-image_second {
    text-align: center;
}
.mm-b-30 {
  margin-bottom: 30px; }

.product-page-green-box h4 {
  font-weight: 700;
  font-family: Raleway;
  font-size: 26px; }
.product-page-green-box p {
  font-family: Roboto Condensed;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0; }

.section-subtitle {
    margin-top: 35px !important;
}

section.about-page {
    background-position: 65% -2rem !important;
background-size: 100% 77% !important;
}

section.body-about {
    padding: 15px !important;
}

.product-body section {
    overflow: visible !important;
}

.contact-body {
overflow:hidden;}
      }




/*# sourceMappingURL=responsive.css.map */
